/* Navbar container */
.navbar {
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(270deg, #08d88d, #0eb5a3);
  padding: 15px 20px;
  color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Logo styling */
.logo a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  font-weight: 600;
  width: 130px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.linkContainer:hover {
  background-color: white;
  color: #0dc19d;
  padding: 6px;
  border-radius: 10px;
  height: 30px;
}

/* Menu Toggle Button (Hidden on large screens) */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background-image: linear-gradient(270deg, #08d88d, #0eb5a3);
    padding: 10px 0;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
    z-index: 100;
  }

  .nav-links li {
    padding: 10px 0;
  }
}

.lottie-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  z-index: 9999;
}

.lottie-player {
  width: 150px;
  height: 150px;
}

@media (max-width: 600px) {
  .lottie-player {
    width: 100px;
    height: 100px;
  }
}
